@media print {
    /* Hide elements like buttons in the PDF */
    #download-pdf-btn {
      display: none;
    }
  
    /* Adjust page layout for printing */
    body {
      margin: 0;
      padding: 0;
      background: none;
    }
  
    .container {
      width: 100%;
    }
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(34, 255, 255);
  }
  
  p {
    display: flex;
    justify-content: center;
  }
  #email {
    display: flex;
    justify-content: flex-start;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .resume-container {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  